<h1>G2 Crowd Team Roster</h1>
<% @candidates.each do |can| %>
<form action='/votes' method='post'>
  <div class="can">
  <br>
    <span class="name"><%= can.name %></span>
    <img class="can_image" src="<%= can.image_url %>"></img>
    <br>
    <span class="title"><%= can.title%></span>
  <br>
    <%= can.bio %>
  <br>
  <br>
    <strong><%= "Want to work with #{can.name}?" %></strong>
  <br>
      <%= "#{can.score} people have said Yes!" %>
    <% @can = can %>
  <br>
  <% #here we are deciding what button to show based on vote status %>
  <% if vote_status(current_user, @can) == "down" %>
    <button name="status" type="submit" value="up">
      <%= image_tag("upvote.png") %><%= hidden_field_tag 'can', @can.id %>
      <%= hidden_field_tag 'current_user', current_user.id %>
    </button>
  <% elsif vote_status(current_user, @can) == "up" %>
    <button name="status" type="submit" value="down"> <%= image_tag("downvote.png") %>
      <%= hidden_field_tag 'can', @can.id %>
      <%= hidden_field_tag 'current_user', current_user.id %>
    </button>
  <% else %>
    <button name="status" type="submit" value="up">
      <%= image_tag("upvote.png") %><%= hidden_field_tag 'can', @can.id %>
      <%= hidden_field_tag 'current_user', current_user.id %>
    </button>
  <% end %>
  </div>
</form>

<% end %>




<%= javascript_include_tag 'application'  %>

<%= stylesheet_link_tag "application.css" %>